html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.2;
    color: #54473F;
}   

h1 {
    
    color: rgb(84, 71, 63);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline double rgb(84, 71, 63) 4px;
}
h1,
h2,
h3 {color: rgb(84, 71, 63);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline double rgb(84, 71, 63) 4px;

}

h3 {
    font-size: 2rem;
    text-decoration: none;
}

main {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem ;
    color: rgb(84, 71, 63);
    text-align: center;

}


img {
    margin-left: 35%;
   border-radius: 25%;
}


h1 {
    font-size: 2rem;
    text-align: center;
}


.fade-text {
    animation: fadetxt linear 6s 10s ;
    animation-fill-mode: forwards;

}

@keyframes fadetxt {

	0% {
		opacity: 0;
	}

	50% {
		font-size: 1.50rem;
	}

	100% {
		opacity: 1;
		font-size: 2.20rem;
    	}
}


.fade-textpig {
    animation: fadetxt linear 6s 10s ;
    animation-fill-mode: forwards;

}

@keyframes fadetxt {

	0% {
		opacity: 0;
	}

	50% {
		font-size: 1.25rem;
	}

	100% {
		opacity: 1;
		font-size: 2rem;
    	}
}



h2 { font-size: 1.15;
    text-decoration: none;
    text-align: center;

}
h1::before,
h1::after{
    content: "\1F439";}

h2::before,
h2::after{
        content: "\1F439";}


nav {
    font-size: 1.10;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    list-style-type: disc;
    text-transform: capitalize;
    text-decoration: underline double;
    text-align: center;
    line-height: 30px;
}

.sections {
    float: right;
    position: sticky;
    top: 0;
    background-color: rgb(196, 219, 159);


}





nav a {
    color: rgb(84, 71, 63);
}

nav a:hover {
    color: rgb(171, 136, 109);
}


nav a:active {
    color: rgb(214, 192, 179);
}

nav a:focus {
    color: rgb(84, 71, 63);
}

nav li {
    font-style: italic;
}

nav li::before{ 
    content: "\1F439";}

 nav li {
    list-style-type: none;
    }

footer {
    color: rgb(137, 129, 33);

}
footer p {
    color: rgb(137, 129, 33);
    text-align: left;
}

footer li:hover {
    color: rgb(230, 199, 103);
}

footer li {
    text-align: left;
    color: rgb(137, 129, 33);
    text-decoration-line: underline;
    list-style-type: none;
}

body {
    background-color: rgb(242, 238, 215)
}

small,
footer li
 {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    background-color: rgb(196, 219, 159);
}

